@model List<Car>
<main>
    <section id="mainsection">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <br><br><br><br><br>
                    <h1 class="text-white mt-5 fs-1">FIND YOUR RENT A CAR</h1>
                    <p class="text-white  fs-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-lg-3 ">
                    <div id="s1f1" class=" container d-flex justify-content-center">
                        <form action="" class="pt-5 pb-5">
                            <div class="row mt-2">
                                <h2 class="text-white text-center">Search Car</h2>
                            </div>
                            <div class="row mt-2">
                                <input class="form-control" placeholder="Text" type="text">
                            </div>
                            <div class="row mt-2">
                                <input class="form-control" placeholder="Text" type="text">
                            </div>
                            <div class="row mt-2">
                                <input class="form-control" placeholder="Text" type="text">
                            </div>
                            <div class="row mt-2">
                                <input class="form-control" placeholder="Text" type="text">
                            </div>
                            <div class="row mt-2">
                                <button id="custombtnhoverblack" type="submit"
                                        class="btn btn-warning bg-opacity-100 fw-bold w-100  mb-2 mt-2 text-black">
                                    Search
                                    Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <div class="container">
            <h2 class="text-center">OUR BEST <span class="text-primary">OFFERS</span> </h2>
            <div class="d-flex justify-content-center">
                <hr class="hr mt-2 text-primary">

            </div>
            <p class="text-center mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a arcu eu
                justo euismod rutrum. Quisque id enim ac tortor malesuada vestibulum non quis turpis. Ut eget ornare
                arcu. Suspendisse velit mi, pulvinar sed mauris eget, efficitur tempor ex.
            </p>
        </div>
        <div class="mt-4 container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 ">
                    <div class="d-flex mt-5">
                        <div class="">
                            <div class="border bg-primary">

                                <i class="bi bi-gear-fill fs-1 p-2  text-white "></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <p class="fw-semibold">Featured Luxury Cars</p>
                            <p class="text-black-50">
                                Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo
                                ligula eget dolor.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex mt-5">
                        <div class="">
                            <div class="border bg-primary">

                                <i class="bi bi-gear-fill fs-1 p-2  text-white "></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <p class="fw-semibold">Featured Luxury Cars</p>
                            <p class="text-black-50">
                                Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo
                                ligula eget dolor.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex mt-5">
                        <div class="">
                            <div class="border bg-primary">
                                <i class="bi bi-gear-fill fs-1 p-2  text-white "></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <p class="fw-semibold">Featured Luxury Cars</p>
                            <p class="text-black-50">
                                Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo
                                ligula eget dolor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  d-flex justify-content-center">
                    <img src="./assets/img/featureCarImg.png" class="w-100" alt="">
                </div>
                <div class="col-lg-4 ">
                    <div class="d-flex mt-5">
                        <div class="">
                            <p class="fw-semibold ">Featured Luxury Cars</p>
                            <p class="text-black-50">
                                Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo
                                ligula eget dolor.
                            </p>
                        </div>
                        <div class="">
                            <div class="border bg-primary">

                                <i class="bi bi-gear-fill fs-1 p-2  text-white "></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-5">
                        <div class="">
                            <p class="fw-semibold ">Featured Luxury Cars</p>
                            <p class="text-black-50">
                                Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo
                                ligula eget dolor.
                            </p>
                        </div>
                        <div class="">
                            <div class="border bg-primary">

                                <i class="bi bi-gear-fill fs-1 p-2  text-white "></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-5">
                        <div class="">
                            <p class="fw-semibold ">Featured Luxury Cars</p>
                            <p class="text-black-50">
                                Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo
                                ligula eget dolor.
                            </p>
                        </div>
                        <div class="">
                            <div class="border bg-primary">

                                <i class="bi bi-gear-fill fs-1 p-2  text-white "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-info">
        <div class="container">
            <h2 class="text-center pt-5">VEHICLE MODELS <span class="text-primary">FOR RENT</span></h2>
            <div class="d-flex justify-content-center">
                <hr class="hr mt-2">
            </div>

            <div class="mt-2 row  shadow pb-5">
                <div class="col-lg-3  ">
                    @foreach (var car in Model)
                    {
                        <p data-id="car-@car.Id" class="fs-3 mt-2 carelement"><span class="fw-bold ">@car.Manufacturer.Name</span> @car.Name</p>
                    }
                </div>
                <div class="col-lg-9 ">

                    @foreach (var car in Model)
                    {
                        <div id="car-@car.Id" class="d-none cartab row">
                            <div class="col-lg-8 ">
                                <img src="./assets/img/cars/@car.Img" class="w-100" alt="">
                            </div>
                            <div class="col-lg-4 bg-white ">
                                <p>
                                    <span class="text-primary fs-2 fw-bold">
                                        $ @car.Price
                                    </span> Rent Per Day
                                </p>
                                <p class="">Model @car.Model</p>
                                <hr class="hr2">
                                <p class="">Doors @car.Doors</p>
                                <hr class="hr2">
                                <p class="">Seats @car.Seats</p>
                                <hr class="hr2">
                                <p class="">PropName @car.Luggage</p>
                                <hr class="hr2">
                                <p class="">Transmission @(car.AutoTransmission==true?"Auto":"Manual")</p>
                                <hr class="hr2">
                                <p class="">AirCondition @car.AirCondition</p>
                                <hr class="hr2">
                           
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </section>

    <section id="section3">
        <div class="container">
            <div class="row mt-5 pb-5">
                <div class="col-lg-3 mt-5 pb-5 ">
                    <div class="d-flex justify-content-center">
                        <i class="bi bi-gear-fill text-white fs-1"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="fs-1 text-white fw-bold">StatPropVal</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="fs-3 text-white fw-semibold">StatPropName</p>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 pb-5 ">
                    <div class="d-flex justify-content-center">
                        <i class="bi bi-gear-fill text-white fs-1"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="fs-1 text-white fw-bold">StatPropVal</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="fs-3 text-white fw-semibold">StatPropName</p>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 pb-5 ">
                    <div class="d-flex justify-content-center">
                        <i class="bi bi-gear-fill text-white fs-1"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="fs-1 text-white fw-bold">StatPropVal</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="fs-3 text-white fw-semibold">StatPropName</p>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 pb-5 ">
                    <div class="d-flex justify-content-center">
                        <i class="bi bi-gear-fill text-white fs-1"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="fs-1 text-white fw-bold">StatPropVal</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="fs-3 text-white fw-semibold">StatPropName</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

@section scripts{ 
 <script>
    $(".cartab").eq(0).removeClass("d-none");
     $(".carelement").click(function(){
         $(".cartab").addClass("d-none")
       var did= $(this).attr("data-id");
        $(`.cartab[id='${did}']`).removeClass("d-none");


});
 </script>
}